<div class="row">
	<div class="panel panel-default col-md-4">
	  <div class="panel-heading">Logs</div>
	  <div id="log" class="panel-body">
	  </div>
	</div>
	<div class="panel panel-default col-md-4">
		<div class="panel-heading">gyro</div>
		<div id="gyro" class="panel-body">
		</div>
	</div>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">gyro strip></div>
		<div id="strips" class="panel-body"></div>
	</div>
</div>

